@import "./settings/_colors";

footer {
  margin-top: -56px;

  .footer-wrapper {
    position: relative;

    .footer-copyright {
      font-size: 14px;
      text-align: center;
      padding: 20px 0;
    }

    .footer-socials {
      padding-right: 40px;
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        display: block;
        margin-left: 20px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: 690px) {
  footer {
    .footer-wrapper {
      .footer-socials {
        top: -45px;
        left: 0;
        padding: 0 20px;
      }
    }
  }
}
